<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085425338917-9m0n745i6eku21lk900gd188oijffjri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085425338917-9m0n745i6eku21lk900gd188oijffjri</string>
	<key>API_KEY</key>
	<string>AIzaSyCXy7Q42GhgVmaR_RrTP5_hi59f79e-enQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1085425338917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weeswares.imok.befriender.dev</string>
	<key>PROJECT_ID</key>
	<string>imok-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>imok-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085425338917:ios:20517bbe7a789f7fe14dcc</string>
	<key>DATABASE_URL</key>
	<string>https://imok-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>