<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70537056660-c67p2ltlub8ij0su7j65mgs5sbha379i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70537056660-c67p2ltlub8ij0su7j65mgs5sbha379i</string>
	<key>API_KEY</key>
	<string>AIzaSyCzddu1bvEF3JcqztHiskQFYiM7Z6OpSe0</string>
	<key>GCM_SENDER_ID</key>
	<string>70537056660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weeswares.imok.befriender.qa</string>
	<key>PROJECT_ID</key>
	<string>imok-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>imok-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70537056660:ios:2831ffd5fd4a628c5ebf81</string>
	<key>DATABASE_URL</key>
	<string>https://imok-qa-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>